<html>
<body>
    <h1>Edit Menu Item</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li><strong>{{ message }}</strong></li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form action= "/restaurant/{{restaurant.id}}/menu/{{item.id}}/edit" method = 'POST'>
        <div>
            <input type = 'text' size='30' name = 'name' placeholder = '{{item.name}}'>
        </div>
        <div>
            <select name="course">
                <option>{{item.course}}</option>
                <option>Entree</option>
                <option>Appetizer</option>
                <option>Beverage</option>
                <option>Dessert</option>
            </select>
        </div>
        <div>
            <input type = 'text' size='30' name = 'price' placeholder = '{{item.price}}'>
        </div>
        <div>
            <textarea style="width: 200px; height:80px;" name="description" placeholder="{{item.description}}"></textarea>
        </div>
        <div>
            <input type='submit' value='Edit'>
        </div>
    </form>
    <a href= '/'>Cancel</a>
</body>
</html>